<div class="container-fluid bg-dark min-vh-100">
  <div class="row">
    <div class="col-md-10 m-auto  ">
        <div class="row mt-5">
          <div class="col-md-12  center">
            <button class="btn btn-primary ml-3 mr-3 p-5 text-white">w</button>
            <button class="btn btn-primary ml-3 mr-3 p-5 text-white">a</button>
            <button class="btn btn-primary ml-3 mr-3 p-5 text-white">s</button>
            <button class="btn btn-primary ml-3 mr-3 p-5 text-white">d</button>
            <button class="btn btn-primary ml-3 mr-3 p-5 text-white">j</button>
            <button class="btn btn-primary ml-3 mr-3 p-5 text-white">k</button>
            <button class="btn btn-primary ml-3 mr-3 p-5 text-white">l</button>
          </div>
        </div>
    </div>
  </div>
</div>
